name: "Chromatic"

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  chromatic-libs-ui:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: actions/setup-node@v4
        with:
          node-version: 24.11.0

      - name: Install dependencies
        run: npm ci

      - name: Build Storybook
        run: npm run build-storybook --workspace=libs/ui

      - name: Output SHA
        run: echo "Commit SHA is ${{ github.sha }}"

      - name: Publish to Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_LIBS_UI_TOKEN }}
          configFile: libs/ui/chromatic.config.json
          skip: ${{ github.event.pull_request.draft == true }}
